.header {
  margin: 0;
  height: 50px;
  border-radius: 0 3px 0 0;
  background-color: #212121;
  position: relative;
}

.header .logo {
  width: 300px;
  height: 30px;
  background: url(./logo.png) no-repeat left top;
  text-indent: -9999px;
  left: 12px;
  position: relative;
  top: 10px;
  float: left;
}

.fullIcon,.expandIcon{
  background:url(./screenControl.png) no-repeat left top;
  float: right;
  height: 24px;
  margin-right: 12px;
  margin-top: 12px;
  width: 24px;
}
.expandIcon{
  background-position:left -25px;
}
